[Desktop Entry]
Version=1.0
Name=ToDoDo
GenericName=ToDoDo
Comment=Simple ToDo manager
Exec=tododo
Icon=/home/nyakovlev/projects/tododo/temp-todo-icon.png
Type=Application
Terminal=false
Categories=Utility;Development;
